db-data/

service/node_modules
service/table.db
service/__pycache__/
web/node_modules

.venv
venv
/venv

.DS_Store
web/.DS_Store
web/public/.DS_Store
web/src/.DS_Store

.db
service/table.db
service/__pycache__

unittest/*_test.py