db-data/

service/node_modules
web/node_modules

.venv
venv
/venv

.DS_Store
web/.DS_Store
web/public/.DS_Store
web/src/.DS_Store

database.cpython-39.pyc
webscraper.cpython-39.pyc
.db
table.db
__pycache__
