.professor-page {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}

.info-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 25vh;
    margin: 40px 0;
}

.grade-distribution,
.grade-distribution-graph,
.pass-fail-rates {
    flex: 1; 
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.professor-header {
    align-items: flex-start;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    border-style: none;
    z-index: 0;
    height: 60px;
}

.professor-header h1 {
    font-size: 2.5rem;
    color: #1A2852;
}


.reviews {
    background-color: #F9F9F9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}


h2 {
    font-size: 1.8rem;
    color: #1A2852;
    margin-bottom: 10px;
    border-bottom: 2px solid #F4B51A;
    padding-bottom: 5px;
}

.reviews .review-list {
    margin-top: 10px;
    color: #333;
}

.leave-review {
    background-color: #F9F9F9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.leave-review h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.leave-review textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.leave-review button {
    background-color: #1A2852;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.leave-review button:hover {
    background-color: #F4B51A;
    color: #1A2852;
}

.pass-fail-rates p {
    font-size: larger;
    font-weight: 500;
}

.pass-fail-rates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40vh;
    height: 30vh;
}

.grade-distribution-graph {
    max-width: 500px;
    min-height: 375px;
}

.professor-line {
    border: none;
    height: 4px;
    background-color: #F4B51A;
}