.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rating button {
    background-color: #1A2852;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.rating button:hover {
    background-color: #F4B51A;
    color: #1A2852;
}